<div class="container col-md-11 border border-dark">  
  <%= form_with model: @casestudy  do |form| %>
    <% if @casestudy.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@casestudy.errors.count, "error") %> prohibited this casestudy from being saved:</h2>

        <ul>
          <% @casestudy.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field row py-md-2">
      <%= form.label :name, :class => 'col-sm-2 ' %>
      <%= form.text_field :name , :class => 'col-sm-4 '%>
    </div>
    <div class="field row py-md-2">
      <%= form.label :duration, :class => 'col-sm-2 ' %>
      <%= form.text_field :duration , :class => 'col-sm-4'%>
    </div>
    <div class="field row py-md-2">
      <%= form.label :scale, :class => 'col-sm-2' %>
      <%= form.text_field :scale, :class => 'col-sm-4' %>
    </div>
    <div class="field row py-md-2">
      <%= form.label :Passkey, :class => 'col-sm-2 ' %>
      <%= form.text_field :passkey , :class => 'col-sm-4 '%>
    </div>
    <div class="actions py-md-2 btn ">
      <%= form.submit %>
    </div>
  <% end %>
</div>