<% if @casestudies.count == 0 %>
	<h4>No record in casestudy</h4>	
<% else %>
	<h4>Accessible Casestudies </h4>	
	<% @casestudies.each do |c|%>
		<% if can? :show, c %>	
			<div class="border border-success text-dark text-center" style="margin: 20px; padding: 10px 5px;">

				<div class=" bg-light text-dark text-center " style="margin: 20px; padding: 10px 5px;">
					<h4>Casestudy Details</h4>
					<br>
					<h6> Name: <%= c.name %> </h6>
					<% if false %>
					<h6> Creator_id: <%= c.creator_id %> </h6>
					<h6> Creator name: <%= User.find(c.creator_id).name %> </h6>
					<h6> Duration: <%= c.duration %> </h6>
					<h6> Scale: <%= c.scale %> </h6>
					<% end %>
				</div>

						
				<!-- <div class="row col-md-12">
					<div class="col-sm-4 ">
						<div class="border border-success bg-light text-dark text-center " style="margin: 20px; padding: 20px 5px;">
							<h4 class="border border-dark">Casestudy Details</h4>
							<br>
							<h6> Name: <%= c.name %> </h6>
							<h6> Creator_id: <%= c.creator_id %> </h6>
							<h6> Creator name: <%= User.find(c.creator_id).name %> </h6>
							<h6> Duration: <%= c.duration %> </h6>
							<h6> Scale: <%= c.scale %> </h6>
						</div>
						<div class="border border-success  bg-light text-dark  text-center" style="margin: 20px; padding: 20px 5px;">
							<h6 style="margin: 20px;" class="border border-dark">Pages</h6>
							<% c.pages.each do |p|%>
					 			<%= p.body %>
					 			<br>
					 		<% end %>
						</div>
					</div>
					<div class="col-sm-8">
				 		<div class="border border-success  bg-dark text-light text-center " style="margin: 20px; padding: 20px 5px;">
					 		<h6 style="margin: 20px;" class="border">Questions</h6>

								<% c.questions.each do |q|%>
									<div class="border border-success bg-dark text-light text-center " style="margin: 20px; padding: 20px 5px;">
									<%= q.body %>
						 				<br>
						 				<h6 style="margin: 20px;" class="border">Traits</h6>
							 			<% q.traits.each do |t|%>
							 				<span class="text-left"> 
							 					<%= t.name%>
							 				</span>
							 				<br>
							 			<% end %>
							 		</div>
					 			
					 			<% end %>	
				 		</div>
			 		</div>
		 		</div>  -->
		 		<% end %>


		 		<% if can? :edit, c %>
		 			<%= link_to 'Delete',test_path, :class => 'btn bg-danger text-light px-md-5 btn-block border', :style => 'margin:10px 20px 10px 5px;' %>
		 			<%= link_to 'Edit',edit_casestudy_path(c), :class => 'btn bg-dark text-light px-md-5 btn-block border', :style => 'margin:10px 20px 10px 5px;' %>
		 		<% elsif current_user.roles.exists?(name: "Candidate") %>
					<% casestudy_user = CasestudyUser.find_by(casestudy_id: c.id, user_id: current_user.id) %>
					<% if casestudy_user.status == "Not_started" %>
						<%= link_to 'Start', casestudy_user_user_responses_path( casestudy_user.id), :class => 'btn bg-dark text-light px-md-5 btn-block border', :style => 'margin:10px 20px 10px 5px;' %>
					<% elsif casestudy_user.status == 'in_progress' %>
		 				<%= link_to 'Resume', casestudy_user_user_responses_path( casestudy_user.id), :class => 'btn bg-dark text-light px-md-5 btn-block border', :style => 'margin:10px 20px 10px 5px;' %>
		 			<% elsif casestudy_user.status == 'submitted_but_not_assessed' %>
		 				<%= link_to 'Test Submitted Succesfully. Wait for Assessor',  :class => 'btn bg-dark text-light px-md-5 btn-block border', :style => 'margin:10px 20px 10px 5px;' %>
		 			<% end %>
				
				<% end %>
			</div>	
	<%end%>
<% end %> 